[Unit]
Description=Daily Proton Drive Sync Wrapper synchronization

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=5m
Unit=proton-drive-sync-wrapper.service

[Install]
WantedBy=timers.target
